.crooked {
  position: relative;
  background-color: #1e1005;
}
.crooked:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to bottom left, transparent 49.8%, #1e1005 50%);
}
.crooked:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to top right, transparent 49.8%, #1e1005 50%);
}
.crooked + * {
  padding-top: 80px;
}
.crooked-top::after {
  display: none;
}
.crooked-top + * {
  padding-top: 0;
}
.crooked-bottom::before {
  display: none;
}
.crooked-top {
  position: relative;
  background-color: #1e1005;
}
.crooked-top:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to bottom left, transparent 49.8%, #1e1005 50%);
}
.crooked-bottom {
  position: relative;
  background-color: #1e1005;
}
.crooked-bottom:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to top right, transparent 49.8%, #1e1005 50%);
}
.crooked-bottom + * {
  padding-top: 80px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #cdffeb;
  transition: background-color 0.25s ease-in-out;
}
header.top {
  background-color: transparent;
}
header > .container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
header > .container > .brand {
  font-size: 0;
}
header > .container > input {
  display: none;
}
header > .container > input#openmenu:checked ~ .screen {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s ease-in-out;
}
header > .container > input#openmenu:checked ~ nav {
  left: 0;
}
header > .container > input#openmenu:checked ~ .hamburger > span:nth-of-type(1) {
  top: 18px;
  transform: rotate(135deg);
}
header > .container > input#openmenu:checked ~ .hamburger > span:nth-of-type(2) {
  opacity: 0;
  left: -60px;
}
header > .container > input#openmenu:checked ~ .hamburger > span:nth-of-type(3) {
  top: 18px;
  transform: rotate(-135deg);
}
header > .container > nav {
  position: fixed;
  overflow-x: hidden;
  background-color: #cdffeb;
  top: 0;
  left: -100%;
  bottom: 0;
  min-width: 200px;
  transition: left 0.25s ease-in-out;
}
header > .container > nav > ul {
  position: relative;
  transition: transform 0.25s ease-in-out;
  padding: 8px;
}
header > .container > nav > ul:has(> li > input:checked) {
  transform: translateX(-100%);
}
header > .container > nav > ul > li a,
header > .container > nav > ul > li label {
  text-transform: uppercase;
  padding: 10px 0;
  display: flex;
  cursor: pointer;
}
header > .container > nav > ul > li > label {
  align-items: center;
  justify-content: space-between;
}
header > .container > nav > ul > li > label::after {
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-left-color: #1e1005;
}
header > .container > nav > ul > li > ul {
  padding: 8px;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s 0.25s;
}
header > .container > nav > ul > li > ul > li > label {
  display: flex;
  align-items: center;
}
header > .container > nav > ul > li > ul > li > label::before {
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  margin-left: -8px;
  margin-right: 4px;
  border-right-color: #1e1005;
}
header > .container > nav > ul > li > input {
  display: none;
}
header > .container > nav > ul > li > input:checked + ul {
  opacity: 1;
  transition: none;
  pointer-events: initial;
}
header > .container > .screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(-100%);
  transition: background-color 0.25s ease-in-out, transform 0s 0.25s;
}
header > .container > .hamburger {
  display: block;
  width: 54px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
header > .container > .hamburger > span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #3f3227;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header > .container > .hamburger > span:nth-of-type(1) {
  top: 0;
}
header > .container > .hamburger > span:nth-of-type(2) {
  top: 16px;
}
header > .container > .hamburger > span:nth-of-type(3) {
  top: 32px;
}
@media (min-width: 768px) {
  header > .container > nav {
    overflow: initial;
    position: initial;
    min-width: initial;
    background-color: initial;
  }
  header > .container > nav > ul {
    display: flex;
    position: relative;
    padding: 0;
  }
  header > .container > nav > ul:has(> li > input:checked) {
    transform: translateX(0);
  }
  header > .container > nav > ul > li a,
  header > .container > nav > ul > li label {
    text-transform: capitalize;
    padding: 8px;
  }
  header > .container > nav > ul > li label::before {
    display: none;
  }
  header > .container > nav > ul > li label::after {
    display: none;
  }
  header > .container > nav > ul > li label:hover {
    color: red;
  }
  header > .container > nav > ul > li label:hover ~ ul {
    transform: scaleY(1);
  }
  header > .container > nav > ul > li > ul {
    left: 0;
    top: 100%;
    bottom: auto;
    padding: 0;
    background-color: white;
    opacity: 1;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
    pointer-events: initial;
  }
  header > .container > nav > ul > li > ul:hover {
    transform: scaleY(1);
  }
  header > .container > nav > ul > li > ul > li > label {
    display: none;
  }
  header > .container > .hamburger {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e1005;
  overflow-y: overlay;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.25s ease-in-out;
}
body::-webkit-scrollbar:hover {
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: red;
}
body > div > *:not(header) {
  transition: filter 0.25s;
}
body:has(input#openmenu:checked) {
  overflow-y: hidden;
}
body:has(input#openmenu:checked) > div > *:not(header) {
  filter: blur(1.5px);
}
h1,
h2,
h3,
h4 {
  font-family: 'papyrus', Arial, sans-serif;
  color: #3f3227;
}
h1 {
  font-family: 'Rock Salt', 'papyrus', Arial, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  color: #1e1005;
}
a:hover {
  color: red;
}
section {
  background-color: #ffffeb;
}
.container {
  margin: 0 8px;
}
@media (min-width: 768px) {
  .container {
    width: 752px;
    margin: 0 auto;
  }
}
form > legend {
  padding: 8px 12px;
  background-color: #1e1005;
  color: #ffffeb;
  font-family: 'papyrus', Arial, sans-serif;
  font-weight: bold;
}
form > fieldset {
  padding: 8px;
}
form > fieldset > label {
  display: grid;
}
form > fieldset > label > input#submit {
  display: none;
}
form > fieldset > label:has(> input[type="radio"]) {
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  form > fieldset > label {
    grid-template-columns: repeat(2, 1fr);
  }
}
footer > .main-footer {
  background-color: #1e1005;
  color: #ffffeb;
  position: relative;
  margin-bottom: 20px;
}
footer > .main-footer:before {
  content: '';
  display: block;
  position: absolute;
  top: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to bottom left, transparent 49.8%, #1e1005 50%);
}
footer > .main-footer:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -80px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(to top right, transparent 49.8%, #1e1005 50%);
}
footer > .main-footer + * {
  padding-top: 80px;
}
footer > .main-footer-top::after {
  display: none;
}
footer > .main-footer-top + * {
  padding-top: 0;
}
footer > .main-footer-bottom::before {
  display: none;
}
footer > .under-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
footer > .under-footer > .container {
  padding: 8px 0;
}
