@import "utils";
@import "header";

* {
    margin: 0;
    padding: 0;
}

html {
    
}

body {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(255,255,255,0);
        transition: background-color .25s ease-in-out;
        &:hover {
            background-color: white;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: @color-focus;
    }
    font-family: @text-font;
    color: @color-dark-1;
    overflow-y: overlay;
    > div {
        > *:not(header) {
            transition: filter .25s;
        }
    }
    &:has(input#openmenu:checked) {
        overflow-y: hidden;
        > div {
            > *:not(header) {
                filter: blur(1.5px);
            }
        }
    }
}

h1, h2, h3, h4 {
    font-family: @header-font;
    color: @color-dark-2;
}

h1 {
    font-family: @header-font-main;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color .25s ease-in-out;
    color: @color-dark-1;
    &:hover {
        color: @color-focus;
    }
}

section {
    background-color: @color-light-1;
}

section.title {
    .crooked-bottom();
}

.container {
    margin: 0 8px;
    @media (min-width: 768px) {
        width: 752px;
        margin: 0 auto;
    }
}

form {
    > legend {
        padding: 8px 12px;
        background-color: @color-dark-1;
        color: @color-light-1;
        font-family: @header-font;
        font-weight: bold;
    }
    > fieldset {
        padding: 8px;
        > label {
            display: grid;
            > input {
                &#submit {
                    display: none;
                }
            }
            &:has(> input[type="radio"]) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

footer {
    > .main-footer {
        .crooked();
        color: @color-light-1;
        position: relative;
        margin-bottom: 20px;
    }
    > .under-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        > .container {
            padding: 8px 0;
        }
    }
}