// text and background colors

// colors
@color-light-1: rgb(255, 255, 235);
@color-light-2: rgb(205, 255, 235);
@color-focus: red;
@color-dark-1: rgb(30, 16, 5);
@color-dark-2: rgb(30, 42, 11);
@color-tertiary: rgb(0, 255, 0);

// gradients
@gradient-crooked-1: linear-gradient(to bottom left, transparent 49.8%, @color-dark-1 50%);
@gradient-crooked-2: linear-gradient(to top right, transparent 49.8%, @color-dark-1 50%);

// fonts
@text-font: Verdana, Geneva, Tahoma, sans-serif;
@header-font: Impact, Arial, sans-serif;