@import "settings";

.crooked {
    position: relative;
    color: @color-light-1;
    background-color: @color-dark-1;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -80px;
        height: 80px;
        width: 100%;
        background-image: @gradient-crooked-1;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -80px;
        height: 80px;
        width: 100%;
        background-image: @gradient-crooked-2;
    }
    & + * {
        padding-top: 80px;
    }
    &-top {
        &::after {
            display: none;
        }
        & + * {
            padding-top: 0;
        }
    }
    &-bottom {
        &::before {
            display: none;
        }
    }
}

.crooked-top {
    position: relative;
    color: @color-light-1;
    background-color: @color-dark-1;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -80px;
        height: 80px;
        width: 100%;
        background-image: @gradient-crooked-1;
    }
}

.crooked-bottom {
    position: relative;
    color: @color-light-1;
    background-color: @color-dark-1;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -80px;
        height: 80px;
        width: 100%;
        background-image: @gradient-crooked-2;
    }
    & + * {
        padding-top: 80px;
    }
}